extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/api/addLocation", method="POST")
   label(for="code") Code:
   input(name="code", type="text")
   br
   label(for="x") X:
   input(name="x", type="text")
   br
   label(for="y") Y:
   input(name="y", type="text")
   br
   label(for="date") Date:
   input(name="date", type="date")
   br
   br
   input(type="submit", value="Add")